<div class="row">
  <div class='topics'>
    <ul class="button_topics">
      {{#link-to 'home' tagName="li" classNames="nav-btn"}} HOME {{/link-to}}
      {{#link-to 'main.news' tagName="li" classNames="nav-btn"}} WHAT'S NEW? {{/link-to}} 
      {{#link-to 'main.featured' tagName="li" classNames="nav-btn"}} FEATURED {{/link-to}} 
      {{#link-to 'main.sellers' tagName="li" classNames="nav-btn"}} TOP SELLERS  {{/link-to}}
      {{#link-to 'main.specials' tagName="li" classNames="nav-btn"}} SPECIALS {{/link-to}} 
      {{#link-to 'main.brands' tagName="li" classNames="nav-btn"}} BRANDS {{/link-to}} 
      {{#link-to 'main.reviews' tagName="li" classNames="nav-btn"}} REVIEWS {{/link-to}} 
    </ul>
  </div>
</div>
{{yield}}