<div class="col-sm-3">
  <div class="site_search">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Site search">
    </div>
  </div>
</div>
<div class="col-sm-3">
  <div class="cart btn btn-default">
    My Cart: 0 Items
  </div>
</div>