.ad_main_container{
  width: 1200px;
}

.left_container_small{
  width: 300px;
  float:left;
}
.right_container_large{
  margin-left: 40px;
  width: 850px; 
  float: left;
}

.ad_topic{
  color: white; 
  padding-left: 30px;
  font-size: 14px; 
  font-weight: bold
}

ul.ad_list{
  list-style: none;
}

li.ad_item{
  float: left; 
  margin: 0px 20px 30px 0px; 
  width: auto; 
  border: 1px solid #c0ede9;
}

.ad_top_container{
  padding: 20px 0px 20px 0px;
}

.ad_image{
  padding-left: 12px;
}

.ad_top_text{
  padding: 0px 20px 20px 20px;
}

.ad_title_container{
  padding: 10px 0px 10px 0px;
}

.ad_title{
  font-size: 12px; 
  color: green; 
  font-weight: bold
}

.ad_description_container{
  padding:10px 0px 10px 0px; 
  width:200px;
}

.ad_description{
  font-size: 12px; 
  color: gray;
}