html, body {
  margin: 20px;
  background: #F0FBFB;
}

.left{
  float: left;
}

.right{
  float: right;
}

.categories_table_title button{
  background-color:#58CFC6;
  border:none;
}
.singInPut{
  width: 140px;
  float: left;
  margin-right: 5px;
}
.sing_in_contents{
  float: left;
  margin-left: 5px;
  margin-top: -7px;
}
.clear{
  clear: both;
}
.sign_in-container{
  width: 1000px;
}
.sign_in-container .single_block{
  width: 512px;
  float: left;
}

.sign_in-container .email_block{
  float: left;
  width: 310px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.sign_in-container .button_block{
  float:left;
}

.air_conditions_about{
  font-size:18px;
  color:#556270;
  padding-right: 40px;
}
.top-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 1300px;
  margin-left: 75px;
  height: 40px;
  background: #3ff2c5;
  background-image: -webkit-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: -moz-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: -ms-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: -o-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: linear-gradient(to bottom, #62D6CF, #2bb8a5);
}

.top-header ul {
  display: -webkit-box;
  list-style: none;
  padding-left: 100px;
  padding-top: 10px;
}


.top-header ul li{
  padding-left: 20px;
  font-size: 14px;
  font-family: arial;
  font-weight: bold;
  color: white;
}

.top-header ul li:hover{
  font-family: arial;
  font-weight: bold;
  color: #B3E8E2;
  cursor: pointer;
}

.main-container{
  width: 1300px;
  background: white;
  height: auto;
  margin-top: 20px;
  margin-left: 35px;
  display: inline-block;

}

.logo{
  padding-left: 30px;
}

.defaut_padding{
  padding-top: 40px;
  padding-left: 40px; 
}

.carrousel{
  padding-left: 0px;
}

.logo-padding{
  padding-top: 40px;
  padding-bottom: 40px;
}

.top_principal{
  display: flex;
}

.input-header{
  width: 180px;
  height: 30px;
  border-radius: 6px;
  font-size: 12px;
}

.cart{
  background: #3ff2c5;
  background-image: -webkit-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: -moz-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: -ms-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: -o-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: linear-gradient(to bottom, #62D6CF, #2bb8a5);
  color: white;
  font-family: arial;
}

.cart:hover{
  background: #3ff2c5;
  background-image: -webkit-linear-gradient(top, #2bb8a5, #62D6CF);
  background-image: -moz-linear-gradient(top, #2bb8a5, #62D6CF);
  background-image: -ms-linear-gradient(top, #2bb8a5, #62D6CF);
  background-image: -o-linear-gradient(top, #2bb8a5, #62D6CF);
  background-image: linear-gradient(to bottom, #2bb8a5, #62D6CF);
  cursor: pointer;
}

.topics{
  padding-left: 0px;
}

.button_topics{
  display: flex;
  list-style: none;
}

.topic-pink{
  background: #FF8787;
  background-image: -webkit-linear-gradient(top, #FF8787, #FF6F6F);
  background-image: -moz-linear-gradient(top, #FF8787, #FF6F6F);
  background-image: -ms-linear-gradient(top, #FF8787, #FF6F6F);
  background-image: -o-linear-gradient(top, #FF8787, #FF6F6F);
  background-image: linear-gradient(to bottom, #FF8787, #FF6F6F);  
}

.topic-pink.default-pad{
  padding: 10px 0px 10px 0px;
}

.nav-btn {
  background: #FF8787;
  background-image: -webkit-linear-gradient(top, #FF8787, #FF6F6F);
  background-image: -moz-linear-gradient(top, #FF8787, #FF6F6F);
  background-image: -ms-linear-gradient(top, #FF8787, #FF6F6F);
  background-image: -o-linear-gradient(top, #FF8787, #FF6F6F);
  background-image: linear-gradient(to bottom, #FF8787, #FF6F6F);
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 40px 15px 35px;
  text-align: center;
  margin-left: 1px;
}

.nav-btn:hover {
  background: #FF6F6F;
  background-image: -webkit-linear-gradient(top, #FF6F6F, #FF8787);
  background-image: -moz-linear-gradient(top, #FF6F6F, #FF8787);
  background-image: -ms-linear-gradient(top, #FF6F6F, #FF8787);
  background-image: -o-linear-gradient(top, #FF6F6F, #FF8787);
  background-image: linear-gradient(to bottom, #FF6F6F, #FF8787);
  text-decoration: none;
}

.nav-btn.active{
  color: gray;
}

.yield{
  padding-left: 40px;
}
