.destaques{
  padding-top: 20px;
}
.destaque_item{
  float: left;
  border: 1px gray solid;
  height: 180px;
  width: 344px;
}
.destaques .destaque_item .left-side{
  position: relative;
  top: 10;
  z-index: 1;
  padding-top: 20px;
  float: left;
  width: 260px;
  padding-bottom: 20px;
}
.destaques .destaque_item .right-side{
  position: relative;
  top: -140px;
  z-index: 0;
  float: right;
}
.padding-between{
  padding-top: 10px;
}
.destaque-title{
  font-size: 18px;
  color: #FF7E7E;
  font-weight: bold;
  padding-top: 20px;
}
.destaque_button{
  padding-bottom: 20px;
}
.destaque_item .right-side .img_container{

}
.categories_table_topic{
  display: none;
}