.left_container{
  padding-top: 30px;
}
.right_container{
  padding-top: 30px;
}
.categories_table{
  width: 100%
}
.categories_table_title{
  background: #58CFC6;
  color: white;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 16px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.categories_table_title.special{
  background: #FF7C7C;
}
.categories_table_topic{
  color: gray;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 12px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.categories_table_item{
  padding-left: 10%;
  padding-top: 5%;
  border: 1px solid #ddd;
  cursor: pointer;
}