.row.default_padding{
  padding-bottom: 10px;
}


.clear_line{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #DDD;
}

.news_title{
  background: #FF7C7C;
  color: white;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  width: 842px;
  padding-left: 30px; 
}

.rigth_container{
  padding-top: 30px;
}

.products_count{
  margin-top: 10px;
  padding-top: 10px; 
  padding-bottom: 10px; 
  width: 842px;
  height: 40px;
  border: 1px solid #ddd;
}

.product_conteiner_item{
  margin-top: 20px; 
  width: 842px;
  height: 400px;
}

.product_left_side{
  margin-top: 40px;
}

.product_right_side{
  margin-top: 40px;
}

.data-added{
  font-size: 12px;
  color: #5ab7b0;
  font-weight: normal;
  line-height: 35px;
  font-family: 'Open Sans', sans-serif;
}

.product_name{
  font-size: 14px;
  font-weight: normal;
  color: #333;
  font-weight: normal;
  line-height: 35px;
  font-family: 'Open Sans', sans-serif;
}

.old_price{
  color: #797979;
  font-weight: bold;
  line-height: 35px;
  font-family: 'Open Sans', sans-serif;
}

.product_price{
  color: #797979;
  font-size: 20px;
  font-weight: normal;
  line-height: 35px;
  font-family: 'Open Sans', sans-serif;
}

.product_description{
  color: #797979;
  font-size: 12px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif; 
}


.buttom{
  background: #3ff2c5;
  background-image: -webkit-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: -moz-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: -ms-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: -o-linear-gradient(top, #62D6CF, #2bb8a5);
  background-image: linear-gradient(to bottom, #62D6CF, #2bb8a5);
  color: white;
  font-family: arial;
}


.buttom:hover{
  background: #3ff2c5;
  background-image: -webkit-linear-gradient(top, #2bb8a5, #62D6CF);
  background-image: -moz-linear-gradient(top, #2bb8a5, #62D6CF);
  background-image: -ms-linear-gradient(top, #2bb8a5, #62D6CF);
  background-image: -o-linear-gradient(top, #2bb8a5, #62D6CF);
  background-image: linear-gradient(to bottom, #2bb8a5, #62D6CF);
  color: white;
  cursor: pointer;
}

