<div class="news_title">
  NEW PRODUCTS
</div>

<div class="clear"/>

<div class="products_count">
  <div class="col-sm-8">
    Displaying 1 to 6 (of 18 new products)
  </div>

  <div class="col-sm-4" style="padding-left: 64px">
    Result Pages:  1  2  3  [ Next >> ] 
  </div>
</div>

<div class="products_container">
  <div class="product_conteiner_item">
      <div class='product_left_side col-sm-4'>
        <img src="http://livedemo00.template-help.com/osc_49494/images/products/044.png">
      </div>
      <div class='product_right_side col-sm-8'>
        <div class="row default_padding">
          <div class='col-sm-9 data-added'>
            Date Added: Thursday 05 June, 2014
          </div>
        </div>
        <div class="clear_line"></div>
        <div class="row default_padding">
          <div class='col-sm-9 product_name'>
            CTETUR ADIPISICING ELIT
          </div>
        </div>
        <div class="clear_line"></div>
        <div class="row default_padding manufacture">
          <div class='col-sm-10'>
            Manufacturer: Visit Manufacturer-2 Website
          </div>
          <div class='col-sm-2 old_price'>
            $34.99
          </div>
        </div>
        <div class="clear_line"></div>
        <div class="row default_padding">
          <div class='col-sm-9 product_price'>
            $79.99
          </div>
        </div>
        <div class="clear_line"></div>
        <div class="row default_padding">
          <div class='col-sm-10 product_description'>
            Today our demands concerning comfort have increased. We know that modern technologies are constantly developed and improved to present us with the needed harmony. No wonder, we have a choice. Too much...
            </div>
        </div>
        <div class="clear_line"></div>
        <div class="row default_padding">
          <div class='col-sm-6'>
            <button class="btn btn-default buttom_detail">  DETAILS </button>
            <button class="btn btn-default cart">  ADD TO CART </button>
          </div>
        </div>

      </div>
  </div>
</div>