<!DOCTYPE html>
<html>
  <head>
    {{content-for 'head'}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Myapp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/myapp.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {{content-for 'head-footer'}}
    <script>
        $(document).ready(function(){
            $(".categories_table_title").click(function(){
               $( ".categories_table_topic" ).animate({toggle()});
            });
        });
    </script>
  </head>
  <body>
    {{content-for 'body'}}
    <script src="assets/vendor.js"></script>
    <script src="assets/myapp.js"></script>
    <script src= "//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js", data-main="main"/>
    <script src="bower_components/ember/ember.js"></script>
    {{content-for 'body-footer'}}
  </body>
</html>
