<div class="ad_main_container" style="">
  <div class="left_container_small">
    &nbsp
  </div>
  <div class="right_container_large" >
    <div class="topic-pink default-pad">
      <span class="ad_topic">
        FEATURED PRODUCTS
      </span>
    </div>
    <div class="defaut_padding">
    </div>

    <div>
      {{#if ads}}
        <ul class="ad_list">
          {{#each ads}}
            <li class="ad_item">
              <div class='ad_top_container'>
                <div class='ad_image'>
                  <img scr="" width="216" height="216">
                </div>
                <div class='ad_top_text'>
                  <div class='ad_title_container'>
                    <span  class='ad_title'>
                      {{title}}
                    </span>
                  </div>
                  <div class='ad_description_container'>
                    <span class='ad_description'>
                      {{description}}
                    </span>
                  </div>
                  <div>
                    <div class="left">
                      <span style="font-size: 20px; color: green; font-weight: bold">
                        {{price}}
                      </span>
                    </div>
                    <div class='cart btn btn-default right'>
                      add to cart
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <div>
          No Ads found
        </div>
      {{/if}}
    </div>
  </div>
</div> 