<div class="row">
  <div class="col-sm-3">
    <div class="site_search">
      <div class="form-group">
        <label for="Title">Title</label>
        {{input type="text" value=title class="form-control"  placeholder="Title"}}
      </div>
    </div> 
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="site_search">
      <div class="form-group">
        <label for="Price">Price</label>
        {{input type="text" value=price class="form-control"  placeholder="Price"}}
      </div>
    </div>
  </div>  
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="site_search">
      <div class="form-group">
        <label for="Local">Local</label>
        {{input type="text" value=local class="form-control"  placeholder="Local"}}
      </div>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="col-sm-3">
    <div class="site_search">
      <div class="form-group">
        <label for="Description">Description</label>
        {{input type="text" value=description class="form-control"  placeholder="Description"}}
      </div>
    </div>
  </div>  
</div>


{{#if isSave}}
  <div class="row">
    <button class="btn btn-primary" {{action 'save'}} disabled="true" > Save </button>
  </div>
{{else}}
  <div class="row">
    <button class="btn btn-primary" {{action 'save'}} > Save </button>
  </div>
{{/if}}