<div class="content" style="height: 500px;">	
  <div class="col-sm-3">
    {{partial "left-categories"}}
  </div>
  
  <div style="float:left;width:300px; padding-top:30px;">
    <div class="right-side">
      <img src="http://ibxk.com.br/2013/8/materias/1649968641515049.jpg?w=1040&h=585&mode=crop" width="100" height="132">
    </div>
    <br></br>
    <div>{{price}}</div>
  </div>
  <div class="row">
    <div style="padding-top: 30px;"><p>{{title}}</p></div>
    <div style="float:left;">
      <div syle="  width: 300px; padding-top: 30px;">
        <div class="description" style="width:300px;padding-top:30px;">
          <p>{{description}}
          </p>
        <div>
    </div>    
  </div>
</div>