<div class='top-header'>
  <ul>
    {{#link-to 'about' tagName="li" classNames=""}} About Us {{/link-to}}
    {{#link-to 'ads.new' tagName="li" classNames=""}} Add a Ad {{/link-to}}
    {{#if loggedIn}}
    {{else}}  
      {{#link-to 'signup' tagName="li" classNames=""}} Sign up {{/link-to}}
    {{/if}}
    <div class='sign_in-container'>
      <div class="single_block"> &nbsp; </div>
      {{#if   loggedIn}}
        <div class='email_block'>
          {{globals.profile.email}}
        </div>
        <div class='button_block'>
          <button class="btn btn-primary sing_in_contents" {{ action "singOut" }}>Sing out</button>
        </div>
      {{else}}
        <div class='email_block'>
          {{input value=inputEmail placeholder="email" class="form-control singInPut sing_in_contents"}}
          {{input value=inputPassword placeholder="password" type='password' class="form-control singInPut sing_in_contents"}}
        </div>
        <div class='button_block'>
          <button class="btn btn-primary sing_in_contents" {{ action "singIn" }}>Sing in</button>
        </div>
      {{/if}}
    </div> 
  </ul>
</div>

<div class="main-container">
  <div class="row">
    <div class="col-sm-20">
      <div class= "header">
        <div class="row logo-padding">
          <div class="col-sm-18">
            <div class="col-sm-6">
              <div class='logo'>
                <img src="http://livedemo00.template-help.com/osc_49494/images/store_logo.png" width="252" height="62">
              </div>
            </div>
            {{live-search}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="yield">
    {{outlet}}
  </div>
</div>


<div class="footer"> 
</div>