{{home-topics}}
<div class="destaques">
  <div class="row">
    <div class="col-sm-12">

      <div class="col-sm-3 destaque_item">
        <div class="left-side padding-top">
          <div class="destaque-title"> AIR CONDITIONER </div>
          <div class="clear padding-between"></div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
          <div class="clear padding-between"></div>
          <button class="btn btn-primary" {{action 'shop_item'}}> Shop Now </button>
        </div>

        <div class="right-side">
          <img src="http://www.savers.pk/media/catalog/product/b/2/b28a98c7ced2623a00b55b1779c7b00b.jpg" width="170" height="112">
        </div>
      </div>

      <div class="col-sm-3 destaque_item" style="margin-left:30px">
        <div class="left-side padding-top">
          <div class="destaque-title"> CEILING FANS </div>
          <div class="clear padding-between"></div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
          <div class="clear padding-between"></div>
          <button class="btn btn-primary"> Shop Now </button>
        </div>

        <div class="right-side">
          <img src="http://ampalrsmarketing.com/wp-content/uploads/2015/01/img_44.jpg" width="170" height="112">
        </div>
      </div>

      <div class="col-sm-3 destaque_item" style="margin-left:30px">
        <div class="left-side padding-top">
          <div class="destaque-title"> AIR PURIFIERS </div>
          <div class="clear padding-between"></div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
          <div class="clear padding-between"></div>
          <button class="btn btn-primary"> Shop Now </button>
        </div>

        <div class="right-side">
          <img src="http://ecx.images-amazon.com/images/I/51GCX1SGHQL.jpg" width="100" height="132">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-3">
      <div class="left_container">
        <table class="categories_table">
          <th class="categories_table_title" >
            <button class="buttonToCategories" {{ action "toggleCategories" }}>
              CATEGORIES
            <button/>
          </th>
          <tr>
            <td class="categories_table_topic"> AIR CONDITIONERS </td>
          </tr>
          <tr>
            <td class="categories_table_topic"> AIR FILTERS </td>
          </tr>
          <tr>
            <td class="categories_table_topic"> AIR PURIFIERS </td>
          </tr>
          <tr>
            <td class="categories_table_topic"> VENTILATION </td>
          </tr>
          <tr>
            <td class="categories_table_topic"> DEHUMIDIFIERS </td>
          </tr>
          <tr>
            <td class="categories_table_topic"> DUCTING </td>
          </tr>
          <tr>
            <td class="categories_table_topic"> HUMIDIFIERS </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="clear"></div>

    <div class="col-sm-3">
      <div class="left_container">
        <table class="categories_table">
          <th class="categories_table_title special">{{globals.profile.name}}<th>
          <tr>
            <td class="categories_table_item"> 
              <img src="http://livedemo00.template-help.com/osc_49494/images/products/p8-1.png" width="210" height="210">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>