<div class="left_container">
  <table class="categories_table">
    <th class="categories_table_title">
      <button class="buttonToCategories" {{ action "toggleCategories" }}>
        CATEGORIES
      <button/>
    </th>
    <tr>
      <td class="categories_table_topic"> AIR CONDITIONERS </td>
    </tr>
    <tr>
      <td class="categories_table_topic"> AIR FILTERS </td>
    </tr>
    <tr>
      <td class="categories_table_topic"> AIR PURIFIERS </td>
    </tr>
    <tr>
      <td class="categories_table_topic"> VENTILATION </td>
    </tr>
    <tr>
      <td class="categories_table_topic"> DEHUMIDIFIERS </td>
    </tr>
    <tr>
      <td class="categories_table_topic"> DUCTING </td>
    </tr>
    <tr>
      <td class="categories_table_topic"> HUMIDIFIERS </td>
    </tr>
  </table>
</div>