{{home-topics}}

<div class="col-sm-3">
  <div class="left_container">
    <table class="categories_table">
      <th class="categories_table_title">
        <button class="buttonToCategories" {{ action "toggleCategories" }}>
          CATEGORIES
        <button/>
      </th>
      <tr>
        <td class="categories_table_topic"> AIR CONDITIONERS </td>
      </tr>
      <tr>
        <td class="categories_table_topic"> AIR FILTERS </td>
      </tr>
      <tr>
        <td class="categories_table_topic"> AIR PURIFIERS </td>
      </tr>
      <tr>
        <td class="categories_table_topic"> VENTILATION </td>
      </tr>
      <tr>
        <td class="categories_table_topic"> DEHUMIDIFIERS </td>
      </tr>
      <tr>
        <td class="categories_table_topic"> DUCTING </td>
      </tr>
      <tr>
        <td class="categories_table_topic"> HUMIDIFIERS </td>
      </tr>
    </table>
  </div>
</div>

<div class="col-sm-9">
  <div class="rigth_container">
    {{outlet}}
  </div>
</div>

<div class="clear"></div>

<div class="col-sm-3">
  <div class="left_container">
    <table class="categories_table">
      <th class="categories_table_title special"> SPECIALS <th>
      <tr>
        <td class="categories_table_item"> 
          <img src="http://livedemo00.template-help.com/osc_49494/images/products/p8-1.png" width="210" height="210">
        </td>
      </tr>
    </table>
  </div>
</div>