<div class="row">
  <div class="col-sm-3">
    <div class="site_search">
      <div class="form-group">
        <label for="Name">Name</label>
        {{input type="text" value=name class="form-control"  placeholder="Name"}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="site_search">
      <div class="form-group">
        <label for="Phone">Phone</label>
        {{input type="text" value=phone class="form-control"  placeholder="Phone"}}
      </div>
    </div>
  </div>  
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="site_search">
      <div class="form-group">
        <label for="Email">Email</label>
        {{input type="text" value=email class="form-control"  placeholder="Email"}}
      </div>
    </div>
  </div>
</div>

 
<div class="row">
  <div class="col-sm-3">
    <div class="site_search">
      <div class="form-group">
        <label for="Password">Password</label>
        {{input type="text" value=password class="form-control"  placeholder="Password"}}
      </div>
    </div>
  </div>  
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="site_search">
      <div class="form-group">
        <label for="Password Confirmation">Password Confirmation</label>
        {{input type="text" value=password_confirmation class="form-control"  placeholder="Password Confirmation"}}
      </div>
    </div>
  </div>  
</div>

{{#if isSave}}
  <div class="row">
    <button class="btn btn-primary" {{action 'save'}} disabled="true" > Save </button>
  </div>
{{else}}
  <div class="row">
    <button class="btn btn-primary" {{action 'save'}} > Save </button>
  </div>
{{/if}}